<footer>

  <div class="container footer-container">
    <div>
      <div class="copyright">Author: Luis Ernesto for WebDevBootCamp Course</div>
    </div>
  </div>

</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script 
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
  crossorigin="anonymous">
</script>
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>

</body>

</html>