textarea {
  resize: none;
}

html {
  height: 100%;
}

body{
  height: 100%;
}

.thumbnail img {
  width: 100%;
}

.col-md-9 .thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.myForm {
  width: 30%;
  margin: 25px auto;
}

.formTitle {
  text-align: center;
}

.edDelBtn {
  width: 18%;
  margin: 4px;
}

.delForm {
  display: inline;
}

.footer-container {
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  width: 60%;
  bottom: 0;
  padding: 1rem;
  background-color: #e5e2e2;
  text-align: center;
}

.copyright {
  margin: auto;
  font-family: 'Lucida Sans';
  font-weight: 400;
  font-size: 15px;
}

.form-correction{
  height: 83%;
}